.topView {
  border: 1px solid black;
  width: 1296px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}

.font02 {
  background-color: cornflowerblue;
  height: 30px;
  color: whitesmoke;
}
